/*style drop css*/
*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}

/*авто формула расчета размера текста и промежутков между строками*/
body {
    font-size: calc(12px + (26 - 14) * ((100vh - 375px) / (1920 - 375)));
    line-height: calc(18px + (32 - 16) * ((100vh - 375px) / (1920 - 375)));
}

.container {
    width: 90%;
    max-width: 1600px;
    margin: 0 auto;
}

ol, ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    transition: all 0.5s ease;
}

a:hover {
    text-decoration: underline;
}

a, button, input[type="button"],
input[type=reset], input[type=submit], input[type=text] {
    transition: all 0.5s ease;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    vertical-align: top;
}

blockquote, q {
    quotes: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input,
textarea,
select {
    font-family:inherit;
    font-size:inherit;
    font-weight:inherit;
    *font-size:100%; /*to enable resizing for IE*/
}
input[type=radio],
input[type=checkbox] {
    opacity: 0;
    width: 0;
    height: 0;
}

/*для того чтоб прибить футер книзу*/
.page-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.main {
    flex-grow: 1;
}
.header {}
.footer {}