@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: local("Poppins"), url("../fonts/poppins/Poppins-Bold.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: local("Poppins"), url("../fonts/poppins/Poppins-Medium.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: local("Poppins"), url("../fonts/poppins/Poppins-Light.woff") format("woff");
}
body {
  font-family: "Poppins", sans-serif;
  background: #f2f1f6;
  font-size: 14px;
  font-weight: 500;
  color: rgb(41, 45, 50);
}

.dashboard {
  display: flex;
  flex-direction: row;
}

.left-side-bar {
  min-height: 1196px;
  height: 100vh;
  background: #FFFFFF;
  box-shadow: 0 10px 60px rgba(226, 236, 249, 0.5);
  color: rgb(145, 151, 179);
}

.logo {
  padding-top: 36px;
  padding-left: 28px;
  margin-bottom: 53px;
}
.logo img {
  width: 195px;
  height: 39px;
}
.logo span {
  display: inline-block;
  margin-top: 17px;
  font-size: 11px;
}

.menu {
  min-width: 306px;
  width: 100%;
  display: flex;
  padding-left: 13%;
  margin-bottom: 568px;
}
.menu ul li {
  cursor: pointer;
  width: 100%;
  height: 46px;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  transition: all 0.1s ease-in;
  margin-bottom: 18px;
  margin-left: -10px;
}
.menu ul li a {
  text-decoration: none;
  position: relative;
  z-index: 1000;
  text-align: center;
  display: flex;
  padding-left: 10px;
}
.menu ul li a svg {
  padding-left: 10px;
  width: 36px;
  margin-left: -11px;
}
.menu ul li a span {
  padding-left: 13px;
  padding-top: 4px;
}
.menu ul li a i {
  border: solid rgb(145, 151, 179);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  margin-left: 67px;
  margin-top: 7px;
  position: absolute;
  left: 160px;
  top: 1px;
}
.menu ul li:hover {
  width: 250px;
  background: rgb(89, 50, 234);
  color: rgb(255, 255, 255);
  transition: all 0.1s ease-in;
  border-radius: 10px;
}

.avatar {
  padding-left: 30px;
  display: flex;
  flex-direction: row;
}
.avatar .avatar-img img {
  width: 42px;
  height: 42px;
}
.avatar .avatar-name {
  display: flex;
  flex-direction: column;
  padding-left: 11px;
}
.avatar .avatar-name span:first-child {
  font-weight: 500;
  color: rgb(0, 0, 0);
  line-height: 23px;
}
.avatar .avatar-name span:last-child {
  font-weight: 400;
  letter-spacing: -1px;
  line-height: 16px;
}
.avatar .avatar-name span {
  display: block;
}

.container {
  max-width: 968px;
  margin-left: 73px;
}
.container .header {
  font-size: 24px;
  line-height: 34px;
  margin-top: 42px;
  margin-bottom: 53px;
}
.container .maine {
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
}

.main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 30px;
  padding-left: 38px;
  width: 909px;
  margin-bottom: 40px;
}
.main-header .main-header-name {
  display: flex;
  flex-direction: column;
  width: 155px;
  height: 60px;
  justify-content: space-between;
}
.main-header .main-header-name span:first-child {
  font-size: 22px;
  line-height: 30px;
}
.main-header .main-header-name span:last-child {
  color: rgb(22, 192, 152);
}
.main-header .search-input {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: #F9FBFF;
  border-radius: 10px;
  width: 215px;
  height: 38px;
  margin-top: 13px;
}
.main-header .search-input svg {
  padding-left: 8px;
  margin-right: -4px;
  width: 40px;
}
.main-header .search-input input {
  margin-left: 8px;
  height: 100%;
  border: 0;
  padding: 0;
  outline: none;
  background: #F9FBFF;
}
.main-header .search-input input::placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: rgb(181, 183, 192);
}

.main-body {
  max-width: 968px;
  width: 100%;
  margin: 0 auto 25px;
  padding: 0 23px 0 37px;
}
.main-body table {
  width: 100%;
  border-collapse: collapse;
}
.main-body table tr {
  border-bottom: 1px solid #EEEEEE;
}
.main-body table tr td:nth-child(1) {
  width: 19%;
}
.main-body table tr td:nth-child(2) {
  width: 15%;
}
.main-body table tr td:nth-child(3) {
  width: 16%;
}
.main-body table tr td:nth-child(4) {
  width: 22%;
}
.main-body table tr td:nth-child(5) {
  width: 17%;
}
.main-body table tr:last-child {
  margin-bottom: 30px;
}
.main-body table th {
  font-size: 14px;
  font-weight: 500;
}
.main-body table th, .main-body table td {
  padding-bottom: 16px;
  text-align: start;
}
.main-body table thead {
  max-width: 863px;
  margin: 0 auto;
  color: rgb(181, 183, 192);
  font-weight: 400;
  font-size: 14px;
}
.main-body table tbody tr td {
  padding-top: 25px;
  padding-bottom: 25px;
  color: rgb(41, 45, 50);
  font-size: 14px;
}

.active {
  background-color: rgba(22, 192, 152, 0.38);
  padding: 4px 17px;
  border-radius: 5px;
  color: rgb(0, 135, 103);
  border: 1px solid rgb(0, 135, 103);
}

.inactive {
  padding: 4px 10px;
  border-radius: 5px;
  background-color: rgb(255, 197, 197);
  color: rgb(223, 4, 4);
  border: 1px solid rgb(223, 4, 4);
}

.maine-footer {
  max-width: 968px;
  width: 100%;
  margin: 0 auto 30px;
  padding: 0 23px 35px 37px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.maine-footer p {
  color: rgb(181, 183, 192);
}

.pagination {
  background-color: #fff;
}
.pagination li {
  display: inline-block;
  list-style: none;
}
.pagination li a {
  display: block;
  padding: 3px 11px;
  font-size: 12px;
  background-color: rgb(238, 238, 238);
  text-decoration: none;
  color: #404B52;
  border-radius: 4px;
  margin: 2px;
  transition: all 0.3s ease;
}
.pagination li a:hover, .pagination li a.active-but {
  color: #fff;
  background-color: rgb(89, 50, 234);
}
.pagination li a:hover:first-child a, .pagination li a.active-but:first-child a {
  border-radius: 40px 0 0 40px;
}
.pagination li a:hover:last-child a, .pagination li a.active-but:last-child a {
  border-radius: 0 40px 40px 0;
}

/*# sourceMappingURL=style.css.map */
