$body-color: #f2f1f6;
$background-color: #FFFFFF;
$background-active: rgba(89, 50, 234, 1);
$background-active2: rgba(22, 192, 152, 0.38);
$background-active3: rgba(255, 197, 197, 1);
$box-shadow: rgba(226, 236, 249, 0.5);
$color-text: rgba(145, 151, 179, 1);
$color-text2: rgba(255, 255, 255, 1);
$color-text3: rgba(0, 0, 0, 1);
$color-text4: rgba(22, 192, 152, 1);
$color-text5: rgb(181, 183, 192);
$color-text6: rgba(41, 45, 50, 1);
$color-text7: rgba(0, 135, 103, 1);
$color-text8: rgba(223, 4, 4, 1);
$border-color: #EEEEEE;

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: local("Poppins"),
  url("../fonts/poppins/Poppins-Bold.woff") format("woff")
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: local("Poppins"),
  url("../fonts/poppins/Poppins-Medium.woff") format("woff")
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: local("Poppins"),
  url("../fonts/poppins/Poppins-Light.woff") format("woff")
}

body {
  font-family: "Poppins", sans-serif;
  background: $body-color;
  font-size: 14px;
  font-weight: 500;
  color: $color-text6;
}
.dashboard {
  display: flex;
  flex-direction: row;
}
.left-side-bar {
  min-height: 1196px;
  height: 100vh;
  background: $background-color;
  box-shadow: 0 10px 60px $box-shadow;
  color: $color-text;
}
.logo {
  padding-top: 36px;
  padding-left: 28px;
  margin-bottom: 53px;
  img {
    width: 195px;
    height: 39px;
  }
  span {
    display: inline-block;
    margin-top: 17px;
    font-size: 11px;
  }
}
.nav-menu {
  min-width: 306px;
  width: 100%;
  display: flex;
  padding-left: 13%;
  margin-bottom: 568px;
  ul {
    li {
      cursor: pointer;
      width: 100%;
      height: 46px;
      list-style: none;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      transition: all 0.1s ease-in;
      margin-bottom: 18px;
      margin-left: -10px;
      a {
        text-decoration: none;
        position: relative;
        z-index: 1000;
        text-align: center;
        display: flex;
        padding-left: 10px;
        svg {
          padding-left: 10px;
          width: 36px;
          margin-left: -11px;
        }
        span {
          padding-left: 13px;
          padding-top: 4px;
        }
        i {
          border: solid $color-text;
          border-width: 0 2px 2px 0;
          display: inline-block;
          padding: 3px;
          transform: rotate(-45deg);
          margin-left: 67px;
          margin-top: 7px;
          position: absolute;
          left: 160px;
          top: 1px;
        }
      }
      &:hover {
        width: 250px;
        background: $background-active;
        color: $color-text2;
        transition: all 0.1s ease-in;
        border-radius: 10px;
      }
    }
  }
}
.avatar {
  padding-left: 30px;
  display: flex;
  flex-direction: row;
  .avatar-img {
    img {
      width: 42px;
      height: 42px;
    }
  }
  .avatar-name {
    display: flex;
    flex-direction: column;
    padding-left: 11px;
    span:first-child {
      font-weight: 500;
      color: $color-text3;
      line-height: 23px;
    }
    span:last-child {
      font-weight: 400;
      letter-spacing: -1px;
      line-height: 16px;
    }
    span {
      display: block;
    }
  }
}
.container {
  max-width: 968px;
  margin-left: 73px;
  .header {
    font-size: 24px;
    line-height: 34px;
    margin-top: 42px;
    margin-bottom: 53px;
  }
  .maine {
    background-color: $color-text2;
    border-radius: 25px;
  }
}
.main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 30px;
  padding-left: 38px;
  width: 909px;
  margin-bottom: 40px;
  .main-header-name {
    display: flex;
    flex-direction: column;
    width: 155px;
    height: 60px;
    justify-content: space-between;
    span {
      &:first-child {
        font-size: 22px;
        line-height: 30px;
      }
      &:last-child {
        color: $color-text4;
      }
    }
  }
  .search-input {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #F9FBFF;
    border-radius: 10px;
    width: 215px;
    height: 38px;
    margin-top: 13px;
    svg {
      padding-left: 8px;
      margin-right: -4px;
      width: 40px;
    }
    input {
      margin-left: 8px;
      height: 100%;
      border: 0;
      padding: 0;
      outline: none;
      background: #F9FBFF;
      &::placeholder {
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        color: rgba(181, 183, 192, 1);
      }
    }
  }
}
.main-body {
  max-width: 968px;
  width: 100%;
  margin: 0 auto 25px;
  padding: 0 23px 0 37px;
  table {
    width: 100%;
    border-collapse: collapse;
    tr {
      border-bottom: 1px solid $border-color;
      td:nth-child(1) {
        width: 19%;
      }
      td:nth-child(2) {
        width: 15%;
      }
      td:nth-child(3) {
        width: 16%;
      }
      td:nth-child(4) {
        width: 22%;
      }
      td:nth-child(5) {
        width: 17%;
      }
      &:last-child {
        margin-bottom: 30px;
      }
    }
    th {
      font-size: 14px;
      font-weight: 500;
    }
    th,td {
      padding-bottom: 16px;
      text-align: start;
    }
    thead {
      max-width: 863px;
      margin: 0 auto;
      color: $color-text5;
      font-weight: 400;
      font-size: 14px;
    }
    tbody {
      tr {
        td {
          padding-top: 25px;
          padding-bottom: 25px;
          color: $color-text6;
          font-size: 14px;
        }
      }
    }
  }
}
.active-but {
  background-color: $background-active2;
  padding: 4px 17px;
  border-radius: 5px;
  color: $color-text7;
  border: 1px solid $color-text7;
  &:hover {
    border: 1px solid $color-text3;
    background-color: $background-active;
    color: $color-text2;
  }
}
.inactive-but {
  padding: 4px 10px;
  border-radius: 5px;
  background-color: $background-active3;
  color: $color-text8;
  border: 1px solid $color-text8;
  &:hover {
    border: 1px solid $color-text3;
    background-color: $background-active;
    color: $color-text2;
  }
}
.maine-footer {
  max-width: 968px;
  width: 100%;
  margin: 0 auto 30px;
  padding: 0 23px 35px 37px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  p {
    color: $color-text5;
  }
  .pagination {
    background-color: #fff;
    li {
      display: inline-block;
      list-style: none;
      a {
        display: block;
        padding: 3px 11px;
        font-size: 12px;
        background-color: rgba(238, 238, 238, 1);
        text-decoration: none;
        color: #404B52;
        border-radius: 4px;
        margin: 2px;
        transition: all .3s ease;
        &:hover,
        &.active-but {
          color: #fff;
          background-color: rgba(89, 50, 234, 1);
          &:first-child {
            a {
              border-radius: 40px 0 0 40px;
            }
          }
          &:last-child {
            a {
              border-radius: 0 40px 40px 0;
            }
          }
        }
      }
    }
  }
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}
.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: $color-text3;
}

@media screen and (max-width: 720px) {
  .container {
    max-width: 720px;
    margin-left: 0;
    .header {
      margin-top: 90px;
      margin-left: -45px;
    }
    .maine {
      margin-left: -45px;
    }
  }
  .left-side-bar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background: $body-color;
    width: 100%;
  }
  .nav-menu {
    position: fixed;
    left: 100%;
    top: 45px;
    width: 100%;
    border-radius: 10px;
    transition: 0.3s;
    ul {
      margin-top: 40px;
      margin-left: 10%;
    }
  }
  .nav-menu.active {
    left: 0;
    top: 45px;
    border: 1px solid transparent;
    border-radius: 0;
    height: 100vh;
  }
  .hamburger {
    display: block;
    cursor: pointer;
    margin: 20px;
  }
  .avatar {
    display: none;
  }
  .logo {
    display: none;
  }
  .active {
    background: $body-color;
    position: absolute;
    top: 0;
    left: 0;
  }
  .nav-menu ul li a i {
    margin-left: 20px;
  }
}