html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  background: #3b3b3b;
  color: #FFFFFF;
  font-size: 16;
}

.header,
.hello {
  background: #3b3b3b;
  margin: 0 auto;
}

.header .header-nav {
  background-color: #2A2A2A;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
  margin: 0 auto 30px;
  border-bottom: 1px solid #202125;
  box-shadow: 0 10px 10px -10px #5383ed;
}
.header .header-nav .header-nav-ul {
  display: flex;
  justify-content: space-around;
  padding: 30px;
}
.header .header-nav .header-nav-ul .header-nav-ul-item {
  scroll-behavior: smooth;
}
.header .header-nav .header-nav-ul .header-nav-ul-item:hover {
  color: #E2A200;
}

.maine {
  background: #3b3b3b;
  margin: 250px auto 0;
  overflow-anchor: none;
}

.hello {
  display: flex;
}
.hello .hello-info {
  width: 45%;
  margin: 0 auto 160px;
  padding-left: 120px;
}
.hello .hello-info h1 {
  font-size: 3.125rem;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 55px;
  margin-bottom: 20px;
  text-shadow: 1px 1px 2px #FDF0D5;
}
.hello .hello-info h2 {
  font-size: 2.1875rem;
  font-weight: 400;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.hello .hello-info p {
  font-size: 1rem;
  font-weight: 100;
  line-height: 30px;
  margin-bottom: 15px;
}
.hello .hello-info button {
  width: 140px;
  height: 35px;
  background: #E2A200;
  border-radius: 20px;
  text-transform: uppercase;
  color: #2A2A2A;
  box-shadow: inset 2px 2px 2px hsla(0deg, 0%, 100%, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}
.hello .hello-info button:hover {
  color: #FFFFFF;
  background: #00C1EC;
  transition: 0.5s;
}
.hello .hello-pic {
  width: 40%;
  margin: 0 auto;
}
.hello .hello-pic .hello-pic-avatar {
  position: relative;
}
.hello .hello-pic .hello-pic-avatar img {
  position: absolute;
  top: -45px;
  left: 15px;
  width: 270px;
  height: auto;
}
.hello .hello-pic .hello-pic-border {
  position: relative;
}
.hello .hello-pic .hello-pic-border svg {
  position: absolute;
  top: -110px;
  left: -95px;
  width: 510px;
  height: auto;
}

@media screen and (max-width: 968px) {
  .hello {
    display: flex;
    flex-direction: column;
  }
  .hello .hello-info {
    width: 75%;
    text-align: center;
    padding-left: 0;
  }
  .hello .hello-info h1 {
    width: 75%;
    margin: 30px auto;
    line-height: 55px;
  }
  .hello .hello-info h2 {
    width: 75%;
    margin: 15px auto;
  }
  .hello .hello-info p {
    margin-bottom: 30px;
  }
  .hello .hello-pic {
    width: 40%;
    margin: 0 auto;
  }
  .hello .hello-pic .hello-pic-avatar {
    margin: 100px auto;
  }
  .hello .hello-pic .hello-pic-avatar img {
    margin-top: 60px;
    top: -230px;
    left: 10%;
  }
  .hello .hello-pic .hello-pic-border {
    position: relative;
  }
  .hello .hello-pic .hello-pic-border svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150%;
    height: auto;
  }
}
@media screen and (max-width: 768px) {
  .hello .hello-info {
    margin: 0 auto;
  }
  .hello .hello-pic .hello-pic-avatar {
    margin: 90px auto;
  }
  .hello .hello-pic .hello-pic-avatar img {
    display: none;
  }
  .hello .hello-pic .hello-pic-border {
    position: relative;
  }
  .hello .hello-pic .hello-pic-border svg {
    display: none;
  }
}
.aboutMe {
  padding: 100px 0;
  position: relative;
}
.aboutMe .aboutMe-description {
  width: 400px;
  margin: 0 auto;
  background: #2A2A2A;
  border-radius: 20px;
  padding: 20px;
  position: relative;
  z-index: 9999;
}
.aboutMe .aboutMe-description h2 {
  position: absolute;
  top: -12px;
  left: 107px;
  font-size: 2.1875rem;
  font-weight: 400;
  margin-bottom: 15px;
  text-transform: uppercase;
  width: 300px;
}
.aboutMe .aboutMe-description p {
  font-size: 1rem;
  font-weight: 100;
  line-height: 30px;
  width: 290px;
  text-align: center;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 25px;
}
.aboutMe .aboutMe-decorations .aboutMe-decorations-gray svg {
  width: 650px;
  height: auto;
  position: absolute;
  top: 150px;
  left: 80px;
}
.aboutMe .aboutMe-decorations .aboutMe-decorations-blue svg {
  width: 415px;
  height: auto;
  position: absolute;
  top: 485px;
  right: 125px;
}
.aboutMe .aboutMe-decorations .aboutMe-decorations-orange svg {
  width: 330px;
  height: auto;
  position: absolute;
  top: 115px;
  right: 175px;
}

@media screen and (max-width: 1000px) {
  .aboutMe-decorations-gray svg {
    width: 530px;
    height: auto;
    position: absolute;
    top: 150px;
    left: 110px;
  }
  .aboutMe-decorations-blue svg {
    width: 380px;
    height: auto;
    position: absolute;
    top: 430px;
    right: 120px;
  }
  .aboutMe-decorations-orange svg {
    width: 320px;
    height: auto;
    position: absolute;
    top: 80px;
    right: 145px;
  }
}
@media screen and (max-width: 968px) {
  .aboutMe-decorations-gray svg {
    display: none;
  }
  .aboutMe-decorations-blue svg {
    display: none;
  }
  .aboutMe-decorations-orange svg {
    display: none;
  }
}
@media screen and (max-width: 410px) {
  .aboutMe .aboutMe-description {
    width: 300px;
  }
  .aboutMe .aboutMe-description h2 {
    position: static;
    width: 200px;
    margin: 0 auto;
    text-align: center;
  }
  .aboutMe .aboutMe-description p {
    width: 250px;
  }
}
.mySkills h2 {
  font-size: 2.1875rem;
  font-weight: 400;
  text-transform: uppercase;
  padding: 60px;
  text-align: center;
  line-height: 50px;
}
.mySkills .mySkills-hard {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}
.mySkills .mySkills-hard .list {
  margin: 10px;
  background: #2f363e;
  box-shadow: inset 2px 2px 2px hsla(0deg, 0%, 100%, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  padding: 30px;
  width: 600px;
}
.mySkills .mySkills-hard .list .list-item {
  color: #000;
  width: 100%;
  margin: 30px auto;
}
.mySkills .mySkills-hard .list .list-item .name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 60px;
  background: #003049;
  color: #FFFFFF;
  border-radius: 22.5px;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.25), inset 2px 2px 5px rgba(255, 255, 255, 0.5), inset -3px -3px 5px rgba(0, 0, 0, 0.5);
}
.mySkills .mySkills-hard .list .list-item .name:hover {
  cursor: pointer;
  color: #FFFFFF;
  background: #E2A200;
  transition: 0.5s;
}
.mySkills .mySkills-hard .list .list-item .name .rank {
  background: #434343;
  box-shadow: inset 2px 2px 2px hsla(0deg, 0%, 100%, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 35px;
  height: 35px;
}
.mySkills .mySkills-hard .list .list-item .name .icon img {
  vertical-align: center;
}

.Portfolio h2 {
  font-size: 2.1875rem;
  font-weight: 400;
  margin: 0 auto;
  max-width: 300px;
  width: 100%;
  text-transform: uppercase;
  padding-top: 100px;
  padding-bottom: 50px;
  text-align: center;
}
.Portfolio .wrapPortfolio {
  display: flex;
  flex-direction: column;
}
.Portfolio .wrapPortfolio h3 {
  font-size: 1.875rem;
  margin: 0 auto 130px;
}
.Portfolio .wrapPortfolio .portfolioBlock {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 100px;
}
.Portfolio .wrapPortfolio .portfolioItem {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  align-items: center;
  max-width: 720px;
  width: 100%;
}
.Portfolio .wrapPortfolio .portfolioItem h5 {
  font-size: 1.5625rem;
  height: 40px;
  margin-bottom: 10px;
  color: #FDF0D5;
  text-shadow: 1px 1px 2px #00C1EC;
}
.Portfolio .wrapPortfolio .portfolioItem p {
  color: #00C1EC;
  height: 70px;
  margin-bottom: 30px;
  max-width: 300px;
  width: 100%;
  text-align: center;
}
.Portfolio .wrapPortfolio .portfolioItem iframe {
  border-radius: 20px;
  height: 350px;
  max-width: 600px;
  width: 100%;
  margin-bottom: 30px;
}
.Portfolio .wrapPortfolio .portfolioItem .portfolioItemRef {
  display: flex;
  justify-content: space-between;
  max-width: 400px;
  width: 100%;
}
.Portfolio .wrapPortfolio .portfolioItem .portfolioItemRef span {
  color: #E2A200;
  margin-bottom: 50px;
}

@media screen and (max-width: 768px) {
  .Portfolio .wrapPortfolio .portfolioItem iframe {
    max-width: 90%;
  }
  .Portfolio .wrapPortfolio .portfolioItem .portfolioItemRef {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
  }
  .Portfolio .wrapPortfolio .portfolioItem .portfolioItemRef a {
    margin: 20px;
  }
}
.footer {
  border-top: 1px solid #E2A200;
  background-color: #2A2A2A;
  margin: 0 auto;
  padding: 90px 0 0 0;
}
.footer h2 {
  font-size: 2.1875rem;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}
.footer .footer-media {
  display: flex;
  justify-content: space-around;
  padding: 100px 10px;
  max-width: 900px;
  margin: 0 auto;
}
.footer .footer-media .footer-media-icon .fa-brands {
  font-size: 3.75rem;
  color: #00C1EC;
}
.footer .footer-media .footer-media-icon .fa-brands:hover {
  color: #E2A200;
  transition: 0.5s;
}
.footer .footer-download {
  width: 250px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 100px;
  color: #00C1EC;
}
.footer .footer-download a {
  line-height: 80px;
  font-size: 1.5625rem;
}
.footer .footer-download a:hover {
  color: #E2A200;
}

@media screen and (max-width: 768px) {
  .footer .footer-media {
    display: flex;
    flex-wrap: wrap;
  }
  .footer .footer-media .footer-media-icon .fa-brands {
    font-size: 40px;
  }
}
@media screen and (max-width: 410px) {
  .footer .footer-media .footer-media-icon .fa-brands {
    font-size: 35px;
  }
}

/*# sourceMappingURL=style.css.map */
