$blue: #00C1EC;
$orange: #E2A200;
$text: #FFFFFF;
$darkgray: #2A2A2A;
$lightgray: #3b3b3b;
$background: #e5e5e5;
$content-text: 'Roboto', sans-serif;
$base_fz: 16;
//формула автоперехода из px в rem
@mixin fz($size_in_px) {
  font-size:($size_in_px/$base_fz)+rem;
}

$one: #780000;
$two: #C1121F;
$three: #FDF0D5;
$four: #003049;

html {
  scroll-behavior: smooth;
}
body {
  font-family: $content-text;
  background: $lightgray;
  color: $text;
  font-size: $base_fz;
}
.header,
.hello {
  background: $lightgray;
  margin: 0 auto;
}
.header {
  .header-nav {
    background-color: $darkgray;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000;
    margin: 0 auto 30px;
    border-bottom: 1px solid #202125;
    box-shadow: 0 10px 10px -10px #5383ed;
    .header-nav-ul {
      display: flex;
      justify-content: space-around;
      padding: 30px;
      .header-nav-ul-item {
        scroll-behavior: smooth;
        &:hover {
          color: $orange;
        }
      }
    }
  }
}
.maine {
  background: $lightgray;
  margin: 250px auto 0;
  overflow-anchor: none;
}
.hello {
  display: flex;
  .hello-info {
    width: 45%;
    margin: 0 auto 160px;
    padding-left: 120px;
    h1 {
      @include fz(50);
      font-weight: 600;
      text-transform: uppercase;
      line-height: 55px;
      margin-bottom: 20px;
      text-shadow: 1px 1px 2px $three;
    }
    h2 {
      @include fz(35);
      font-weight: 400;
      margin-bottom: 15px;
      text-transform: uppercase;
    }
    p {
      @include fz(16);
      font-weight: 100;
      line-height: 30px;
      margin-bottom: 15px;
    }
    button {
      width: 140px;
      height: 35px;
      background: $orange;
      border-radius: 20px;
      text-transform: uppercase;
      color: $darkgray;
      box-shadow: inset 2px 2px 2px hsla(0deg, 0%, 100%, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
      &:hover {
        color: $text;
        background: $blue;
        transition: 0.5s;
      }
    }
  }
  .hello-pic {
    width: 40%;
    margin: 0 auto;
    .hello-pic-avatar {
      position: relative;;
      img {
        position: absolute;
        top: -45px;
        left: 15px;
        width: 270px;
        height: auto;
      }
    }
    .hello-pic-border {
      position: relative;;
      svg {
        position: absolute;
        top: -110px;
        left: -95px;
        width: 510px;
        height: auto;
      }
    }
  }
}
@media screen and (max-width: 968px) {
  .hello {
    display: flex;
    flex-direction: column;
    .hello-info {
      width: 75%;
      text-align: center;
      padding-left: 0;
      h1 {
        width: 75%;
        margin: 30px auto;
        line-height: 55px;
      }
      h2 {
        width: 75%;
        margin: 15px auto;
      }
      p {
        margin-bottom: 30px;
      }
    }
    .hello-pic {
      width: 40%;
      margin: 0 auto;
      .hello-pic-avatar {
        margin: 100px auto;
        img {
          margin-top: 60px;
          top: -230px;
          left: 10%;
        }
      }
      .hello-pic-border {
        position: relative;
        svg {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 150%;
          height: auto;
        }
      }
    }
  }

}
@media screen and (max-width: 768px) {
  .hello {
    .hello-info {
      margin: 0 auto;
    }
    .hello-pic {
      .hello-pic-avatar {
        margin: 90px auto;
        img {
         display: none;
        }
      }
      .hello-pic-border {
        position: relative;;
        svg {
          display: none;
        }
      }
    }
  }
}
.aboutMe {
  padding: 100px 0;
  position: relative;;
  .aboutMe-description {
    width: 400px;
    margin: 0 auto;
    background: $darkgray;
    border-radius: 20px;
    padding: 20px;
    position: relative;
    z-index: 9999;
    h2 {
      position: absolute;
      top: -12px;
      left: 107px;
      @include fz(35);
      font-weight: 400;
      margin-bottom: 15px;
      text-transform: uppercase;
      width: 300px;
    }
    p {
      @include fz(16);
      font-weight: 100;
      line-height: 30px;
      width: 290px;
      text-align: center;
      margin: 0 auto;
      padding-top: 25px;
      padding-bottom: 25px;
    }
  }
  .aboutMe-decorations {
    .aboutMe-decorations-gray {
      svg {
        width: 650px;
        height: auto;
        position: absolute;
        top: 150px;
        left: 80px;
      }
    }
    .aboutMe-decorations-blue {
      svg {
        width: 415px;
        height: auto;
        position: absolute;
        top: 485px;
        right: 125px;
      }
    }
    .aboutMe-decorations-orange {
      svg {
        width: 330px;
        height: auto;
        position: absolute;
        top: 115px;
        right: 175px;
      }
    }
  }
}
@media screen and (max-width: 1000px) {
  .aboutMe-decorations-gray {
    svg {
      width: 530px;
      height: auto;
      position: absolute;
      top: 150px;
      left: 110px;
    }
  }
  .aboutMe-decorations-blue {
    svg {
      width: 380px;
      height: auto;
      position: absolute;
      top: 430px;
      right: 120px;
    }
  }
  .aboutMe-decorations-orange {
    svg {
      width: 320px;
      height: auto;
      position: absolute;
      top: 80px;
      right: 145px;
    }
  }
}
@media screen and (max-width: 968px) {
  .aboutMe-decorations-gray {
    svg {
      display: none;
    }
  }
  .aboutMe-decorations-blue {
    svg {
      display: none;
    }
  }
  .aboutMe-decorations-orange {
    svg {
      display: none;
    }
  }
}
@media screen and (max-width: 410px) {
  .aboutMe {
    .aboutMe-description {
      width: 300px;
      h2 {
        position: static;
        width: 200px;
        margin: 0 auto;
        text-align: center;
      }
      p {
        width: 250px;
      }
    }
  }
}
.mySkills {
  h2 {
    @include fz(35);
    font-weight: 400;
    text-transform: uppercase;
    padding: 60px;
    text-align: center;
    line-height: 50px;
  }
  .mySkills-hard {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    .list {
      margin: 10px;
      background: #2f363e;
      box-shadow: inset 2px 2px 2px hsl(0deg 0% 100% / 25%), inset -2px -2px 2px rgb(0 0 0 / 25%);
      border-radius: 30px;
      padding: 30px;
      width: 600px;
      .list-item {
        color: #000;
        width: 100%;
        margin: 30px auto;
        .name {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 20px;
          height: 60px;
          background: $four;
          color: $text;
          border-radius: 22.5px;
          box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.25),
          inset 2px 2px 5px rgba(255, 255, 255, 0.5),
          inset -3px -3px 5px rgba(0, 0, 0, 0.5);
          &:hover {
            cursor: pointer;
            color: $text;
            background: $orange;
            transition: 0.5s;
          }
          .rank {
            background: #434343;
            box-shadow: inset 2px 2px 2px hsl(0deg 0% 100% / 25%), inset -2px -2px 2px rgb(0 0 0 / 25%);
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            width: 35px;
            height: 35px;
          }
          .skill {}
          .icon {
            img {
              vertical-align: center;
            }
          }
        }
      }
    }
  }
}


.Portfolio {
  h2 {
    @include fz(35);
    font-weight: 400;
    margin: 0 auto;
    max-width: 300px;
    width: 100%;
    text-transform: uppercase;
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center;
  }
  .wrapPortfolio {
    display: flex;
    flex-direction: column;
    h3 {
      @include fz(30);
      margin: 0 auto 130px;
    }
    .portfolioBlock {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      margin-bottom: 100px;
    }
    .portfolioItem {
      display: flex;flex-direction: column;
      margin-bottom: 50px;
      align-items: center;
      max-width: 720px;
      width: 100%;
      h5 {
        @include fz(25);
        height: 40px;
        margin-bottom: 10px;
        color: $three;
        text-shadow: 1px 1px 2px $blue;
      }
      p {
        color: $blue;
        height: 70px;
        margin-bottom: 30px;
        max-width: 300px;
        width: 100%;
        text-align: center;
      }
      iframe {
        border-radius: 20px;
        height: 350px;
        max-width: 600px;
        width: 100%;
        margin-bottom: 30px;
      }
      .portfolioItemRef {
        display: flex;
        justify-content: space-between;
        max-width: 400px;
        width: 100%;
        a {
          .refBlock {

          }
        }
        span {
          color: $orange;
          margin-bottom: 50px;
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .Portfolio .wrapPortfolio .portfolioItem iframe {
    max-width: 90%;
  }
  .Portfolio .wrapPortfolio .portfolioItem .portfolioItemRef {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    a {
      margin: 20px;
    }
  }
}

.footer {
  border-top: 1px solid $orange;
  background-color: $darkgray;
  margin: 0 auto;
  padding: 90px 0 0 0;
  h2 {
    @include fz(35);
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
  }
  .footer-media {
    display: flex;
    justify-content: space-around;
    padding: 100px 10px;
    max-width: 900px;
    margin: 0 auto;
    .footer-media-icon {
      .fa-brands {
        @include fz(60);
        color: $blue;
        &:hover {
          color: $orange;
          transition: 0.5s;
        }
      }
    }
  }
  .footer-download {
    width: 250px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 100px;
    color: $blue;
    a {
      line-height: 80px;
      @include fz(25);
      &:hover {
        color: $orange;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .footer {
    .footer-media {
      display: flex;
      flex-wrap: wrap;
      .footer-media-icon {
        .fa-brands {
          font-size: 40px;
        }
      }
    }
  }
}
@media screen and (max-width: 410px) {
  .footer .footer-media .footer-media-icon .fa-brands {
    font-size: 35px;
  }
}









