$blue: #00C1EC;
$orange: #E2A200;
$text: #FFFFFF;
$darkgray: #2A2A2A;
$lightgray: #3b3b3b;
$background: #e5e5e5;
$content-text: 'Roboto', sans-serif;
$base_fz: 16;/*формула автоперехода из px в rem*/

@mixin fz($size_in_px) {
  font-size:($size_in_px/$base_fz)+rem;
}

body {
  font-family: $content-text;
  background: $background;
  color: #FFFFFF;
  font-size: $base_fz;
}

.header,
.hello {
  background: $darkgray;
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  padding-top: 25px;
  .header-nav {
    padding-bottom: 140px;
    .header-nav-ul {
      display: flex;
      justify-content: space-around;
      .header-nav-ul-item {

      }
    }
  }
}

.hello {
  display: flex;
  .hello-info {
    width: 45%;
    margin: 0 auto 100px;
    padding-left: 120px;
    h1 {
      font-size: 50px;
      font-weight: 600;
      text-transform: uppercase;
      line-height: 55px;
      margin-bottom: 20px;
    }
    h2 {
      font-size: 35px;
      font-weight: 400;
      margin-bottom: 15px;
      text-transform: uppercase;
    }
    p {
      font-size: 14px;
      font-weight: 100;
      line-height: 20px;
      margin-bottom: 15px;
    }
    button {
      width: 140px;
      height: 35px;
      background: $orange;
      border-radius: 20px;
      text-transform: uppercase;
      color: #0d0a0a;
    }
  }
  .hello-pic {
    width: 40%;
    margin: 0 auto;
    .hello-pic-avatar {
      position: relative;;
      img {
        position: absolute;
        top: -76px;
        left: 15px;
        width: 270px;
        height: auto;
      }
    }
    .hello-pic-border {
      position: relative;;
      img {
        position: absolute;
        top: -140px;
        left: -95px;
        width: 510px;
        height: auto;
      }
    }
  }
}

.aboutMe {
  background: $lightgray;
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 0;
  position: relative;;
  .aboutMe-description {
    width: 400px;
    margin: 0 auto;
    background: $darkgray;
    border-radius: 20px;
    padding: 20px;
    position: relative;
    z-index: 9999;
    h2 {
      position: absolute;
      top: -12px;
      left: 107px;
      font-size: 35px;
      font-weight: 400;
      margin-bottom: 15px;
      text-transform: uppercase;
      width: 300px;
    }
    p {
      font-size: 14px;
      font-weight: 100;
      line-height: 20px;
      width: 290px;
      text-align: center;
      margin: 0 auto;
      padding-top: 25px;
      padding-bottom: 25px;
    }
  }
  .aboutMe-decorations {
    .aboutMe-decorations-gray {
      img {
        width: 650px;
        height: auto;
        position: absolute;
        top: 22px;
        left: 77px;
      }
    }
    .aboutMe-decorations-blue {
      img {
        width: 416px;
        height: auto;
        position: absolute;
        top: 341px;
        right: 176px;
      }
    }
    .aboutMe-decorations-orange {
      img {
        width: 331px;
        height: auto;
        position: absolute;
        top: -7px;
        right: 174px;
      }
    }
  }
}

.mySkills {
background: $lightgray;
max-width: 1200px;
margin: 0 auto;
.mySkills-soft {
.mySkills-soft-img {
  padding: 50px;
  img {
    max-width: 100px;
    height: auto;
  }
}
}
.mySkills-hard {
.mySkills-hard-img {
  img {
    max-width: 100px;
    height: auto;
  }
}
}
}

.myPortfolio {
background: $darkgray;
max-width: 1200px;
margin: 0 auto;
}

.footer {
background: $lightgray;
max-width: 1200px;
margin: 0 auto;
}
















