@charset "UTF-8";
/*формула автоперехода из px в rem*/
body {
  font-family: "Roboto", sans-serif;
  background: #e5e5e5;
  color: #FFFFFF;
  font-size: 16;
}

.header,
.hello {
  background: #2A2A2A;
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  padding-top: 25px;
}
.header .header-nav {
  padding-bottom: 140px;
}
.header .header-nav .header-nav-ul {
  display: flex;
  justify-content: space-around;
}
.hello {
  display: flex;
}
.hello .hello-info {
  width: 45%;
  margin: 0 auto 100px;
  padding-left: 120px;
}
.hello .hello-info h1 {
  font-size: 50px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 55px;
  margin-bottom: 20px;
}
.hello .hello-info h2 {
  font-size: 35px;
  font-weight: 400;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.hello .hello-info p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  margin-bottom: 15px;
}
.hello .hello-info button {
  width: 140px;
  height: 35px;
  background: #E2A200;
  border-radius: 20px;
  text-transform: uppercase;
  color: #0d0a0a;
}
.hello .hello-pic {
  width: 40%;
  margin: 0 auto;
}
.hello .hello-pic .hello-pic-avatar {
  position: relative;
}
.hello .hello-pic .hello-pic-avatar img {
  position: absolute;
  top: -76px;
  left: 15px;
  width: 270px;
  height: auto;
}
.hello .hello-pic .hello-pic-border {
  position: relative;
}
.hello .hello-pic .hello-pic-border img {
  position: absolute;
  top: -140px;
  left: -95px;
  width: 510px;
  height: auto;
}

.aboutMe {
  background: #3b3b3b;
  max-width: 1200px;
  margin: 0 auto;
  padding: 130px 0;
  position: relative;
}
.aboutMe .aboutMe-description {
  width: 400px;
  margin: 0 auto;
  background: #2A2A2A;
  border-radius: 20px;
  padding: 20px;
  position: relative;
  z-index: 9999;
}
.aboutMe .aboutMe-description h2 {
  position: absolute;
  top: -12px;
  left: 107px;
  font-size: 35px;
  font-weight: 400;
  margin-bottom: 15px;
  text-transform: uppercase;
  width: 300px;
}
.aboutMe .aboutMe-description p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  width: 290px;
  text-align: center;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 25px;
}
.aboutMe .aboutMe-decorations .aboutMe-decorations-gray img {
  width: 650px;
  height: auto;
  position: absolute;
  top: 150px;
  left: 77px;
}
.aboutMe .aboutMe-decorations .aboutMe-decorations-blue img {
  width: 416px;
  height: auto;
  position: absolute;
  top: 500px;
  right: 176px;
}
.aboutMe .aboutMe-decorations .aboutMe-decorations-orange img {
  width: 331px;
  height: auto;
  position: absolute;
  top: 115px;
  right: 174px;
}

.mySkills {
  background: #3b3b3b;
  max-width: 1200px;
  margin: 0 auto;
}
.mySkills h2 {
  font-size: 35px;
  font-weight: 400;
  margin: 0 auto;
  width: 350px;
  text-transform: uppercase;
  padding: 30px;
}
.mySkills .mySkills-icon {
  position: relative;
}
.mySkills .mySkills-icon :nth-child(1) {
  position: absolute;
  top: 50px;
  left: 300px;
}
.mySkills .mySkills-icon :nth-child(2) {
  position: absolute;
  top: 115px;
  right: -800px;
}
.mySkills .mySkills-icon :nth-child(3) {
  position: absolute;
  top: 175px;
  left: 325px;
}
.mySkills .mySkills-icon :nth-child(4) {
  position: absolute;
  top: 235px;
  left: 810px;
}
.mySkills .mySkills-icon :nth-child(5) {
  position: absolute;
  top: 300px;
  left: 280px;
}
.mySkills .mySkills-icon :nth-child(6) {
  position: absolute;
  top: 305px;
  left: 800px;
}
.mySkills .mySkills-icon :nth-child(7) {
  position: absolute;
  top: 365px;
  left: 345px;
}
.mySkills .mySkills-icon :nth-child(8) {
  position: absolute;
  top: 420px;
  left: 860px;
}
.mySkills .mySkills-icon :nth-child(9) {
  position: absolute;
  top: 480px;
  left: 300px;
}
.mySkills .mySkills-icon :nth-child(10) {
  position: absolute;
  top: 550px;
  left: 800px;
}
.mySkills .mySkills-icon :nth-child(11) {
  position: absolute;
  top: 600px;
  left: 345px;
}
.mySkills .mySkills-icon :nth-child(12) {
  position: absolute;
  top: 660px;
  left: 800px;
}
.mySkills .mySkills-icon :nth-child(13) {
  position: absolute;
  top: 710px;
  left: 300px;
}
.mySkills .mySkills-icon .mySkills-icon-img {
  position: relative;
}
.mySkills .mySkills-icon .mySkills-icon-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  margin: 0 auto;
  padding: 10px;
  height: auto;
}

.mySkills-hard {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}
.mySkills-hard .list {
  position: relative;
  width: 350px;
  min-height: 500px;
  padding: 50px;
  background: #2f363e;
  box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.25), 10px 10px 70px rgba(0, 0, 0, 0.25), inset 5px 5px 10px rgba(0, 0, 0, 0.5), inset 5px 5px 20px rgba(255, 255, 255, 0.2), inset -5px -5px 15px rgba(0, 0, 0, 0.75);
  border-radius: 30px;
}
.mySkills-hard .list .list-item {
  position: relative;
  display: flex;
  align-items: center;
  margin: 15px 0;
  cursor: pointer;
}
.mySkills-hard .list .list-item .rank {
  position: relative;
  min-width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 35px;
}
.mySkills-hard .list .list-item .rank::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  background: #2f363e;
  border-radius: 30px;
  transform: scale(0);
  transition: 0.5s;
}
.mySkills-hard .list .list-item:hover .rank::before {
  transform: scale(1);
}
.mySkills-hard .list .list-item .rank span {
  position: relative;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  transition: 0.5s;
}
.mySkills-hard .list .list-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 45px;
  height: 45px;
  background: #00C1EC;
  border-radius: 22.5px;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.25), inset 2px 2px 5px rgba(255, 255, 255, 0.5), inset -3px -3px 5px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}
.mySkills-hard .list .list-item:hover::before {
  width: 100%;
}
.mySkills-hard .list-item .name {
  position: relative;
  line-height: 1.15rem;
}
.mySkills-hard .list-item .name .name h4 {
  font-weight: 600;
  color: #bcbcc0;
  transition: 0.5s;
}
.mySkills-hard .list-item .name .list-item:hover .name h4 {
  color: #fff;
}

.myPortfolio {
  background: #2A2A2A;
  max-width: 1200px;
  margin: 0 auto;
}

.footer {
  background: #3b3b3b;
  max-width: 1200px;
  margin: 0 auto;
}

/*# sourceMappingURL=style.css.map */
