$blue: #00C1EC;
$orange: #E2A200;
$text: #FFFFFF;
$darkgray: #2A2A2A;
$lightgray: #3b3b3b;
$background: #e5e5e5;
$content-text: 'Helvetica', sans-serif;
$base_fz: 16;/*формула автоперехода из px в rem*/

@mixin fz($size_in_px) {
  font-size:($size_in_px/$base_fz)+rem;
}

@font-face {
  font-family: Pompadur; /* Гарнитура шрифта */
  src: url(../fonts/ArodoraPro-Light.otf); /* Путь к файлу со шрифтом */
}

body {
  font-family: Pompadur, 'Comic Sans MS', cursive;;
  background: $background;
  color: #FFFFFF;
  padding: 4rem;
}

header,
.hello {
  background: $darkgray;
  max-width: 1200px;
  margin: 0 auto;
}

.aboutMe {
  background: $lightgray;
  max-width: 1200px;
  margin: 0 auto;
}

.mySkills {
  background: $lightgray;
  max-width: 1200px;
  margin: 0 auto;
  .mySkills-soft {
    .mySkills-soft-img {
      padding: 50px;
      img {
        max-width: 100px;
        height: auto;
      }
    }
  }
  .mySkills-hard {
    .mySkills-hard-img {
      img {
        max-width: 100px;
        height: auto;
      }
    }
  }
}